
<div id="message1">


<?php echo $this->Form->create('Type',array('id'=>'form_type','class'=>'','method'=>'POST','autocomplete'=>'off','inputDefaults'=>array(
				
				'label'=>false,'div'=>false,'type'=>'text','required'=>false)))?>
	
<?php echo __("Hi, please choose a type below:")?>
<br><br>

<?php $options_new = array(
 		'Type1' => __('<span class="showDialog" data-id="dialog_1" style="color:blue">Type1</span><div id="dialog_1" class="hide dialog" title="Type 1">
 				<span style="display:inline-block"><ul><li>Description .......</li>
 				<li>Description 2</li></ul></span>
 				</div>'),
		'Type2' => __('<span class="showDialog" data-id="dialog_2" style="color:blue">Type2</span><div id="dialog_2" class="hide dialog" title="Type 2">
 				<span style="display:inline-block"><ul><li>Desc 1 .....</li>
 				<li>Desc 2...</li></ul></span>
 				</div>')
		);?>

<?php echo $this->Form->input('type', array('legend'=>false, 'type' => 'radio', 'options'=>$options_new,'before'=>'<label class="radio line notcheck">','after'=>'</label>' ,'separator'=>'</label><label class="radio line notcheck">'));?>

<?php echo $this->Form->submit('Save', array('class' => 'btn btn-primary'));?>
<?php echo $this->Form->end();?>

</div>

<style>
.showDialog:hover{
	text-decoration: underline;
}

#message1 .radio{
	vertical-align: top;
	font-size: 13px;
}

.control-label{
	font-weight: bold;
}

.wrap {
	white-space: pre-wrap;
}

.tooltip-inner {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000;
}

</style>

<?php $this->start('script_own')?>
<script>

$(document).ready(function(){
	$(".showDialog").each(function(){
	    var thisElement = $(this);
	    var id = thisElement.data('id');
	    var html = $('#'+id).html();
	    thisElement.data('title', html).tooltip({
	        container: "body",
	        placement: 'right',
	        html: true
	    });
	});
})


</script>
<?php $this->end()?>