<div class="alert  ">
<button class="close" data-dismiss="alert"></button>
Question: Advanced Input Field</div>

<p>
1. Make the Description, Quantity, Unit price field as text at first. When user clicks the text, it changes to input field for use to edit. Refer to the following video.

</p>


<p>
2. When user clicks the add button at left top of table, it wil auto insert a new row into the table with empty value. Pay attention to the input field name. For example the quantity field

<?php echo htmlentities('<input name="data[1][quantity]" class="">')?> ,  you have to change the data[1][quantity] to other name such as data[2][quantity] or data["any other not used number"][quantity]

</p>



<div class="alert alert-success">
<button class="close" data-dismiss="alert"></button>
The table you start with</div>

<table class="table table-striped table-bordered table-hover">
<thead>
<th><span id="add_item_button" class="btn mini green addbutton" onclick="addToObj=false">
											<i class="icon-plus"></i></span></th>
<th>Description</th>
<th>Quantity</th>
<th>Unit Price</th>
</thead>

<tbody>
	<tr>
	<td></td>
	<td><textarea name="data[1][description]" class="m-wrap  description required" rows="2" ></textarea></td>
	<td><input name="data[1][quantity]" class=""></td>
	<td><input name="data[1][unit_price]"  class=""></td>
	
</tr>

</tbody>

</table>


<p></p>
<div class="alert alert-info ">
<button class="close" data-dismiss="alert"></button>
Video Instruction</div>

<p style="text-align:left;">
<video width="78%"   controls>
  <source src="/video/q3_2.mov">
Your browser does not support the video tag.
</video>
</p>





<?php $this->start('script_own');?>
<script>

	var table = $('table.table', '.page-container');
	var tbody = $('tbody', table);

	function insertNewRow(){
	    var tableRows = $('tr', tbody);
	    tableRows.each(function(idx){
	        var thisTr = $(this);
	        var childInput = $(':input', thisTr);
	        childInput.each(function(){
	            var thisElement = $(this);
	            var newName = thisElement.attr('name').replace(/(\[\d+\])+/i,"["+idx+"]");
	            thisElement.attr('name', newName);
	            if(!thisElement.data('onceEvents')){
	                var spanText = thisElement.siblings('span');
	                if(!spanText || (spanText&&!spanText.length)){
	                    spanText = $('<span>').insertBefore(thisElement);
	                }
	            }
	        })
	    });
	}
	    
	insertNewRow();
	$(document).ready(function(){
		$("#add_item_button").click(function(){
			// alert("suppose to add a new row");
			var tableRows = $('tr', tbody);
			var lastRow = tableRows.last();
			var newRow = lastRow.clone().appendTo(tbody);
			var inputBoxes = $(':input', newRow).val('');
			insertNewRow();
		});
	});
</script>
<?php $this->end();?>

